* { box-sizing: border-box;}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}
body {
  font-size: 1.8rem; line-height: 1.875;
  margin: 0;
}

nav {
  background-color: rgb(82, 106, 122);
  padding: 10px;
  display: flex; justify-content: space-between;
  align-items: center;
  height: 100px
}
nav h1 {
  margin: 0px;
}
.home {
  font-size: 50px;
  font-weight: bold;
}
.home:hover {
  color: yellow;
}
.route {
  text-align: center;
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  width: 200px;
  margin-left: 20px;
}
.route:hover {
  background-color: rgb(171, 235, 108);
  cursor: pointer;
}

.main {
  position: relative;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; 
}

.icon:hover {
  cursor: pointer;
  color: red;
}

/*

.back {
  font-size: 80px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.promiseError{
  color: red;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
*/