* { box-sizing: border-box;}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}
body {
  font-size: 1.8rem; line-height: 1.875;
  margin: 0;
}
/*
nav> h1,
main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
*/
nav {
  background-color: rgb(82, 106, 122);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home {
  font-size: 50px;
  font-weight: bold;
}
.home:hover {
  color: yellow;
}
.route {
  text-align: center;
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  width: 200px;
  margin-left: 20px;
}
.route:hover {
  background-color: rgb(171, 235, 108);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px; 
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; 
}

.noteList {
  width: 55%;
   margin: auto 15px auto 0
}
.note_list {
  overflow: auto;
  max-height: 380px; 
}

.icon:hover {
  cursor: pointer;
  color: red;
}
.back {
  font-size: 80px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.promiseError{
  color: red;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
