header{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(59,77,89); 
}
.title {
    padding-left: 10px;
}
.mainNav{
    padding: 0px;
    background-color: rgb(4, 4, 88);
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.mainNav div {
    display: flex;
}
#nav_note{
    display: none;
}
.mainNav_title {
    margin: 0px 10px;
}

.mainNav_control span {
    width: 40px;
    cursor: pointer;
}
.count {
    background-color: rgb(109, 169, 218);
    color: black;
    font-weight: bolder;
}
.add {
    background-color: orange; 
}
.add path {
    color: black
}
.add:hover {
    cursor: pointer;
    background-color: rgb(171, 235, 108);
}
.noteList {
    width: 60%;
    margin: 25px auto;
}
.note_details{
    width: 75%;
    margin: 10px auto;
}
.errorMessage {
    color: red;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    #nav_note{
        display: flex;
    }
}
/*
.folder_list {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.folderBox , .noteBox {
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    color: white;
    
}
.folderBox {
    background-color: rgb(0,95,131)
}
.noteBox {
    background-color: rgb(24, 92, 22)
}
.folderBox:hover, .noteBox:hover {
    background-color: yellow;
    color: rgb(59,77,89);
}
.folderName {
    font-size: 30px;
    font-weight: bold;
}
.noteBox h3 {
    margin: 0;
}
.noteNav, .folderBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

  