.folder_list {
    position: absolute;
    top: -25px; left:0;
}
.folderBox {
    background-color: rgb(8, 47, 61);
    color: white;
    border-style: none;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid;
    border-width: thin;
}
.folderName {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.folderBox:hover, .noteBox:hover {
    background-color: yellow;
    color: black;
}
.noteBox {
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    color: white;
    background-color: rgb(14, 56, 13)
}
.noteBox h3 {
    margin: 0;
}
.noteNav, .folderBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error {
    color: red;
    margin-top: 0;
    margin-left: 150px
}